body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.detail_edit .ant-form-item {
  display: flex;

}
.detail_edit .ant-form-item-control-wrapper {
  flex: 1;
}

.ant-breadcrumb {
  font-size: 16px;
  font-weight: bold;
}